[data-bs-theme=dark] {
  --bs-body-bg: #071018;
  --bs-body-bg-rgb: 7, 16, 24;
  --body-track: #0e161f;
  --bs-dark: #07090e;
  --bs-dark-rgb: 7, 9, 14;
  --bs-heading-color: #f8f9fa;
  --bs-link-color: #d63a63;
  --bs-link-hover-color: #e2446e;
  --led-color: #ff779b;
  --led-color-2: #3fa2ff;
  --bs-primary: #C1234C;
  --bs-primary-rgb: 193, 35, 76;
  --bs-link-color-rgb: 214, 58, 99;
  --bs-link-hover-color-rgb: 226, 68, 110;
  --form-border: #ced4da;
  --form-input-background: #fff;
  --text-on-white: #232323;
  --text-on-white-muted: #6c757d;
}

[data-bs-theme=dark] .text-dark strong, [data-bs-theme=dark] .text-dark {
  color: var(--text-on-white)!important;
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target] {
  background-color: #fff;
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark] .carousel .carousel-control-prev-icon {
  filter: invert(0) grayscale(100);
}
