.glide-wrapper {
  max-width: 100vw;
  overflow: hidden;
}

.glide {
  margin: auto;
}

#actualidad .glide {
  max-width: 50vw;
}

#casos-exito .glide {
  max-width: 70vw;
}

@media screen and (max-width: 992px) {
  #actualidad .glide, #casos-exito .glide {
    max-width: 100%;
  }
}

#actualidad .glide__slide--active, #casos-exito .glide__slide--active {
  opacity: 100%!important;
  filter: blur(0)!important;
}

#actualidad .glide__slide, #casos-exito .glide__slide {
  opacity: 30%;
  filter: blur(3px);
}

.glide__track {
  overflow: visible!important;
}

.glide__slides {
  align-items: center;
}

/* Arrows */

@media screen and (max-width: 500px) {
  .glide__arrows {
    display: none;
  }
}

.glide__arrow {
  background: var(--bs-body-bg);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.glide__arrow:hover {
  background: var(--bs-dark);
  transform: scale(1.2);
  top: 41%;
}

.glide__arrow--right {
  right: -10%;
}

.glide__arrow--left {
  left: -10%;
}

.glide__bullets {
  bottom: 0;
}
