@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Regular.woff") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url("/fonts/Gilroy-Bold.woff") format("opentype");
}

:root {
  --bs-body-font-family: gilroy;

  scroll-behavior: unset;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--body-track);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-link-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-link-hover-color);
}

::selection {
  background: var(--bs-link-color);
  color: #fff!important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  pointer-events: none;
  user-select: none;
}

footer .lo-ultimo img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  transform: translate3d(0, 0, 1px);
}

.categorias {
  background-image: url("/images/backgrounds/red.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5em 0;
}

.bg-primary.hover:hover {
  background-color: var(--bs-link-color)!important;
}

strong, b {
  color: var(--bs-heading-color);
}

.turnstile {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.turnstile iframe {
  border-radius: var(--bs-border-radius);
}

.ck-content iframe, #post iframe {
  border-radius: var(--bs-border-radius);
  border-width: 0;
}

.band {
  background-image: url("/images/backgrounds/info.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
}

.band .carousel-item {
  transition: opacity .4s ease-in-out!important;
}

.scale-hover {
  transition: transform .4s ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.1);
}

.scale-hover:hover a {
  color: var(--bs-link-hover-color)!important;
}

.scale-position-hover .scale-position {
  transition: transform 0.4s ease-in-out;
}

.scale-position-hover:hover .scale-position {
  transform: scale(1.1);
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--bs-link-color) 0%, var(--bs-link-hover-color) 50%,var(--bs-link-color) 100%)!important;
  box-shadow: 0 0 10px rgb(255 255 255 / 50%);
}

.light {
  position: relative;
}

.light::after, .light::before {
  border-radius: inherit;
  inset: 0;
  content: "";
  position: absolute;
  z-index: -1;
}

.light:hover::before {
  background: linear-gradient(90deg, var(--led-color),  var(--led-color-2));
  filter: blur(20px);
  opacity: 1;
  transform: translateZ(0) scale(.95);
  transition: opacity .3s;
}

.light::after {
  background: inherit;
}

/* Accordion */

.accordion-button::after {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23C1234C'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}

.accordion-button:not(.collapsed) {
  background-color: var(--bs-primary);
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), 0.5);  /* stylelint-disable-line color-function-notation */
}


.accordion-body {
  background-color: var(--bs-dark);
}

.carousel .carousel-indicators [data-bs-target] {
  background-color: #fff;
}

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
  filter: invert(0) grayscale(100);
}

.text-dark strong, .text-dark {
  color: var(--text-on-white)!important;
}

/* Pagination */

.pagination {
  list-style-type: none;
}

.pagination-item {
  display: inline-block;
}

.page-link {
  width: 40px;
  height: 50px;
  background-color: var(--bs-dark);
  transition: none;
  padding: 2px;
  border: none;
}

.active>.page-link, .page-link.active, .page-link:focus, .page-link:disabled {
  border-color: var(--bs-primary);
  color: var(--bs-heading-color);
}

.page-link:disabled {
  background-color: rgba(var(--bs-primary-rgb), 0.2);  /* stylelint-disable-line color-function-notation */
}

.active>.page-link, .page-link.active, .page-link:focus {
  background-color: var(--bs-primary);
}

.page-item {
  padding: 0 2px;
}

img.post {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* Share Post */

#compartir .btn-facebook:hover {
  background-color: #3b5998!important;
  border-color: #3b5998!important;
}

#compartir .btn-twitter:hover {
  background-color: #1da1f2!important;
  border-color: #1da1f2!important;
}

#compartir .btn-whatsapp:hover {
  background-color: #25d366!important;
  border-color: #25d366!important;
}