@font-face {
  font-family: Gilroy;
  src: url("/fonts/Gilroy-Regular.woff") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url("/fonts/Gilroy-Bold.woff") format("opentype");
}

:root {
  --bs-body-font-family: Gilroy;
  scroll-behavior: unset;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--body-track);
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-link-color);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-link-hover-color);
}

::selection {
  background: var(--bs-link-color);
  color: #fff!important;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  pointer-events: none;
  user-select: none;
}

footer .lo-ultimo img {
  object-fit: cover;
  width: 80px;
  height: 80px;
  transform: translate3d(0, 0, 1px);
}

.categorias {
  background-image: url("/images/backgrounds/red.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1.5em 0;
}

.bg-primary.hover:hover {
  background-color: var(--bs-link-color)!important;
}

strong, b {
  color: var(--bs-heading-color);
}

#post iframe, .ck-content iframe {
  border-radius: var(--bs-border-radius);
  border-width: 0;
}

.band {
  background-image: url("/images/backgrounds/info.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  background-position: center;
  filter: grayscale(1);
}

.band .carousel-item {
  transition: opacity .4s ease-in-out!important;
}

.scale-hover {
  transition: transform .4s ease-in-out;
}

.scale-hover:hover {
  transform: scale(1.1);
}

.scale-hover:hover a {
  color: var(--bs-link-hover-color)!important;
}


.scale-position-hover .scale-position {
  transition: transform 0.4s ease-in-out;
}


.scale-position-hover:hover .scale-position {
  transform: scale(1.1);
}

.nuxt-loading-indicator {
  background: repeating-linear-gradient(to right, var(--bs-link-color) 0%, var(--bs-link-hover-color) 50%,var(--bs-link-color) 100%)!important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.light {
  position: relative;
}

.light:after, .light:before {
  border-radius: inherit;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.light:hover:before {
  background: linear-gradient(90deg, var(--led-color),  var(--led-color-2));
  filter: blur(20px);
  opacity: 1;
  transform: translateZ(0) scale(.95);
  transition: opacity .3s;
}

.light:after {
  background: inherit;
}
