.ql-container {
  font-family: Gilroy;
  font-size: 1rem;
  height: 100%;
}

.ql-toolbar.ql-snow {
  border: 0;
  background: #fff;
}

.ql-snow .ql-editor img {
  pointer-events: unset;
  -webkit-user-select: unset;
  -moz-user-select: unset;
  user-select: unset;
}

.ql-snow .ql-picker.ql-font .ql-picker-label::before, .ql-snow .ql-picker.ql-font .ql-picker-item::before {
  content: "Gilroy";
}
