:root {
  color-scheme: dark;

  --bs-body-bg: #071018;
  --bs-body-bg-rgb: 7, 16, 24;
  --body-track: #0e161f;
  --bs-dark: #07090e;
  --bs-dark-rgb: 7, 9, 14;
  --bs-heading-color: #f8f9fa;
  --bs-link-color: #d63a63;
  --bs-link-hover-color: #e2446e;
  --led-color: #ff779b;
  --led-color-2: #3fa2ff;
  --bs-primary: #C1234C;
  --bs-primary-rgb: 193, 35, 76;
  --bs-link-color-rgb: 214, 58, 99;
  --bs-link-hover-color-rgb: 226, 68, 110;
  --form-border: #ced4da;
  --form-input-background: #fff;
  --text-on-white: #232323;
  --text-on-white-muted: #6c757d;
  --bs-secondary-color: rgb(222 226 230 / 75%);
  --bs-secondary-color-rgb: 222,226,230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43,48,53;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222,226,230;
  --bs-border-color: #495057;
}
